<div class="parent p-3">
  <section class="container shadow-sm w-75 bg-white mt-5">
    <header class="d-flex justify-content-center align-items-center mb-5 text-black">
      <div class="drugHeader p-5 mt-5 d-flex justify-content-center align-items-center flex-column rounded-3">
        <h2 class="text-center fw-bold">Search in CureFusion Encyclopedia of Medicines</h2>

        <!-- Search input -->
        <input
          class="form-control mt-2 w-75 mt-4 border-1"
          placeholder="Type to search..."
          (input)="search($event)"
        />

        <p class="text-black text-center w-75 mt-4">
          The Altibbi Encyclopedia of Medicines contains detailed information on medications and medical treatments available in the Arab world and abroad, from their uses to their side effects and contraindications.
        </p>
      </div>
    </header>
  </section>

  <section class="container shadow-sm w-75 bg-white mt-3 p-4">
    <div *ngFor="let med of pagedMedicines" class="item p-2 ms-5 my-0" routerLink="/drugDetails">
      <h4>{{ med }}</h4>
      <div class="line d-flex justify-content-center">
        <hr class="w-75 text-black text-center fw-bold" />
      </div>
    </div>

    <!-- Pagination -->
    <nav class="d-flex justify-content-center mt-4">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
        </li>

        <li
          class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === i + 1"
        >
          <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
        </li>

        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </section>

</div>
