.product-image {
  max-width: 100%;
  border-radius: 8px;
}
.pill-icon {
  font-size: 1.5rem;
  color: #007bff;
  margin-right: 8px;
}
.card {
  border: none;
}

.ico{
  border: solid 5px #C1C5C8;
  padding : 3px;
  font-size: 1rem;
  font-weight: bold;
  box-sizing: border-box;
}
