<section>
  <header class="image vh-100 w-100">
    <img src="../../../../assets/images/a7d3102c610a7173c99d089081a2539ee246e14e.jpg" alt="header career image" >
  </header>

  <div class="careers d-flex flex-column justify-content-center align-items-center">
    <h2 class="my-4 h1 text-center fw-bolder">Careers</h2>
    <p class="w-50 text-center fs-5">Do you have a passion for helping heal patients and making a tangible impact in medicine? We're transforming medicine for the better and the patient experience through technology.</p>
    <button class="btn join-btn px-5 my-2">Join Us</button>
  </div>

  <div class="secondImage image vh-100 w-100 my-4">
    <img src="../../../../assets/images/try2.jpg" class="w-100" alt="second career image" >
  </div>

  <div class="workWithUs d-flex flex-column justify-content-center align-items-center">
    <h2 class="my-4 h1 text-center fw-bold">Work With Us Now! </h2>
    <p class="w-50 text-center fs-5">Do you have a passion for helping heal patients and making a tangible impact in medicine? We're transforming medicine for the better and the patient experience through technology.Do you have a passion for helping heal patients and making a tangible impact in medicine? We're transforming medicine for the better and the patient experience through technology.</p>
    <h6 class="my-3">Want to know more ? <a href="#">CLICK HERE</a></h6>
  </div>
</section>
